body{
    /* color:red; */
    font-family: monospace;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > div{
    display: flex;
    gap: 1em;
}

header > div:first-child{
    padding-inline-start: 1em;
    align-items: center;
    /* background-color: blue; */
}

header > div:last-child{
    /* background-color: green; */
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
}

header > div:last-child > div{
    /* background-color: salmon; */
    order: 100;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap: 10px; */
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    height: 100%;

}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex-grow: 1;
}