* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: salmon;
}

#pelotita, #cursorFollower{
    height: 50px;
    width: 50px;
    /* background-color: red; */
    border-radius: 50%;
    position: absolute;
}

#pokeImage{
    display: block;
    width: 400px;
    margin: 0 auto;
}